<!DOCTYPE HTML>
<html>
    <head>
        <title>XETUR</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link href='http://fonts.googleapis.com/css?family=Nixie+One|Josefin+Sans|Alegreya+Sans|Copse' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
        </script>
    </head>
    <body>
        <script type="text/javascript" src="{{url_for('static', filename='ajax.js')}}"></script>
        <div class=page>
            <div class=navbar>
                <a href="{{ url_for('main_page') }}"><h1 class=logo>xetur</h1></a>
                    <ul class=signon>
                {% if not session.username %}
                    <li><a href="{{ url_for('login') }}">login</a></li>   
                    <li><a href="{{ url_for('register') }}">register</a></li>
                {% else %}
                    <li><a href="{{ url_for('logout') }}">logout</a></li>
                {% endif %}
                </ul>
                <div class = topics>
                    <ul>
                    {% for topic in g.topics %}
                        <li><a href="{{ url_for('branch', topic=topic) }}">{{ topic }}</a></li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>

