{% extends "layout.html" %}
{% block body %}
    <div class=subbranch_header>
        <h2>front page</h2>
    </div>
    <div id=topic_container>
        <div id=topic_sidebar>
            <p class=sidebar_text_header>
                What is this?
            </p>
            <hr class=sidebar_divider></hr>
            <p class=sidebar_text>
                xetur is a small project implemented in Python using a microframework called Flask. It is intended to be a reddit clone, but is obviously not as fully featured (yet).
            <p>
            <p class=sidebar_text_header>
                Can I see the code?
            </p>
            <hr class=sidebar_divider></hr>
            <a href="http://github.com/ronnel132/xetur"><p class=sidebar_text>Of course!</p></a>
        </div>
        <div id=topic_content>
            {% include 'show_posts.html' %}
        </div>
    </div>
    <div class=nav-buttons>
        {% if (before != posts_per_page): %}
        <span class=nextprev>
            <a href="{{url_for('main_page', before=(before-posts_per_page*2))}}">
                prev
            </a>
        </span>
        {% endif %}
        {% if has_next: %}
        <span class=nextprev>
            <a href="{{url_for('main_page', before=before)}}">
                next
            </a>
        </span>
        {% endif %}
    </div>
{% endblock %}
