{% extends "layout.html" %}
{% block body %}
    <div class=subbranch_header>
        <a href="{{ url_for('branch', topic=post.topic) }}">
            <h2>{{ post.topic }}</h2>
        </a>
    </div>
    <div class=show_post_wrapper>
        <div class=display_post>
            {% if post.url != None: %}
            <a href="{{ post.url }}">
                <h3>{{ post.subject }}</h3>
            </a>
            {% else %}
            <h3>{{ post.subject }}</h3>
            {% endif %}
            {% if post.body != None: %}
            <p>{{ post.body }}</p>
            {% endif %}
        </div>
        <hr class=divider></hr>
        <div class=comment_block>
            <form action="javascript:comment('{{post.post_id}}');" method=post>
                <br>
                    <textarea rows=5 cols=50 name="comment_text"></textarea>
                </br>
                <input type="submit" value="save"></input>
            </form>
            <br>
            <ul id=comment_list>
            {% for comment in comments %}
                <li>
                    <p>{{ comment.body }}</p>
                    <p class=post_descrip id="comment_upvote{{comment.comment_id}}">{{comment.upvotes}}</p>
                    <a class="post_descrip votebtn{{comment.comment_id}}" href="javascript:upvote('#comment_upvote{{comment.comment_id}}', '{{comment.comment_id}}', '.votebtn{{comment.comment_id}}', 'comment');">
                    Upvote
                    </a>
                    <p class=post_descrip id="comment_downvote{{comment.comment_id}}">{{comment.downvotes}}</p>
                    <a class="post_descrip votebtn{{comment.comment_id}}" href="javascript:downvote('#comment_downvote{{comment.comment_id}}', '{{comment.comment_id}}', '.votebtn{{comment.comment_id}}', 'comment');">
                    Downvote
                    </a>
                </li>
                <div class=clear></div>
            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
