{% extends "layout.html" %}
{% block body %}
    <div class=page_header>
        <a href="{{ url_for('branch', topic=post.topic) }}">
            <h2>{{ post.topic }}</h2>
        </a>
    </div>
    <div class=show_post_wrapper>
        <div class=display_post>
            {% if post.url != None: %}
            <a href="{{ post.url }}">
                <h3>{{ post.subject }}</h3>
            </a>
            {% else %}
            <h3>{{ post.subject }}</h3>
            {% endif %}
            {% if post.body != None: %}
            <p>{{ post.body }}</p>
            {% endif %}
        </div>
        <hr class=divider></hr>
        <div class=comment_block>
            <form action="javascript:comment('{{post.topic}}', '{{post.post_id}}');" method=post>
                <br>
                    <textarea rows=5 cols=50 name="comment_text"></textarea>
                </br>
                <input type="submit" value="save"></input>
            </form>
            <br>
            {% include "show_comments.html" %}
        </div>
    </div>
{% endblock %}
