{% extends "layout.html" %}
{% block body %}
    <div class=subbranch_header>
        <a href="{{ url_for('branch', topic=topic) }}">
            <h2>{{ topic }}</h2>
        </a>
    </div>
    <div class=topic_container>
        <div class=topic_sidebar>
            <a href="{{ url_for('post', topic=topic) }}">
                <p class=sidebar_text_header>⊗ Submit a post.</p>
            </a>
            <hr class=sidebar_divider></hr>
            <p class=sidebar_text>
                {{ description }}
            </p>
        </div>
        <div class=topic_content>
            {% include "show_posts.html" %}
        </div>
    </div>
    <div class=nav-buttons>
        {% if (before != posts_per_page): %}
        <span class=nextprev>
            <a href="{{url_for('branch', topic=topic, before=(before-2*posts_per_page))}}">
            prev
            </a>
        </span>
        {% endif %}
        {% if has_next: %}
        <span class=nextprev>
            <a href="{{url_for('branch', topic=topic, before=before)}}">
                next
            </a>
        </span>
        {% endif %}
    </div>
{% endblock %}
