{% extends "layout.html" %}
{% block body %}
    <div class=subbranch_header>
        <h2>{{ topic }}</h2>
        <hr class=divider></hr>
    </div>
    <div id=topic_container>
        <div id=topic_sidebar>
            <a href="{{ url_for('post', topic=topic) }}">
                <p id=topic_post>⊗ Submit a post.</p>
                <hr class=sidebar_divider></hr>
            </a>
            <div style="height: 1em"></div>
        </div>
        <div id=topic_content>
            {% include "show_posts.html" %}
        </div>
    </div>
{% endblock %}
