<ul>
{% for post in posts %}
    <li>
        <div class=branch_post>
            {% if url == None: %}
            <a href="{{ url_for('show_post', topic=post.topic, post_id=post.post_id) }}">
                <p class=post_subject>{{ post.subject }}</p>
            </a>
            {% else %}
            <a href="{{ post.url }}">
                <p class=post_subject>{{ post.subject}}</p>
            </a>
            {% endif %}
            <p class=post_descrip id="post_upvote{{post.post_id}}">{{post.upvotes}}</p>
            <a class="post_descrip votebtn{{post.post_id}}" href="javascript:upvote('#post_upvote{{post.post_id}}', '{{post.post_id}}', '.votebtn{{post.post_id}}', 'post');">
            Upvote
            </a>
            <p class=post_descrip id="post_downvote{{post.post_id}}">{{post.downvotes}}</p>
            <a class="post_descrip votebtn{{post.post_id}}" href="javascript:downvote('#post_downvote{{post.post_id}}', '{{post.post_id}}', '.votebtn{{post.post_id}}', 'post');">
            Downvote
            </a>
            <p class=post_descrip>|</p>
            <p class=post_descrip>{{post.comment_count}}</p>
            <a class=post_descrip href="{{url_for('show_post', topic=post.topic, post_id=post.post_id)}}">Comments
            </a>
        </div>
        {% if post != posts[-1] %}
            <hr class=divider></hr>
        {% else %}
            <hr class=blank_divider></hr>
        {% endif %}
    </li>
{% else %}
    <p class=noposts>No Más</p>
{% endfor %}
</ul>
